---
- name: Add SSH login banner to /etc/ssh/sshd-banner
  ansible.builtin.template:
    src: sshd-banner.txt
    dest: /etc/ssh/sshd-banner
    owner: root
    group: root
    mode: "0644"
  become: true
  notify: Restart ssh
  tags: [audit, audit-banners]

- name: Enable banner in sshd_config
  ansible.builtin.replace:
    path: /etc/ssh/sshd_config
    regexp: "^#Banner none"
    replace: "Banner /etc/ssh/sshd-banner"
  become: true
  when: not is_molecule_test | default(false)
  notify: Restart ssh
  tags: [audit, audit-banners]
